---
import { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");

const inputVal = t("send");
---

<Layout title={t("contactTitle")}>
  <div class="dz-sidebar">
    <div class="dz-contact-form-wrapper">
      <h3 class="dz-sidebar__heading">{t("fillThisOut")}</h3>
      <form
        name="contact"
        method="POST"
        action="/submit_success"
        netlify-honeypot="bot-field"
        data-netlify="true"
      >
        <div class="dz-field-wrapper">
          <label for="tswname">{t("name")}</label>
          <input type="text" id="tswname" name="fullname" size={24} />
        </div>
        <div class="dz-field-wrapper">
          <label for="tswemail">Email:</label>
          <input type="text" id="tswemail" name="email" size={24} />
        </div>
        <div class="dz-field-wrapper--hpt">
          <label>
            Don’t fill this out if you’re human: <input name="bot-field" />
          </label>
        </div>
        <label for="tswcomments">{t("message")}</label>
        <textarea rows={10} name="comments" id="tswcomments"></textarea>
        <input value={inputVal} type="submit" />
      </form>
    </div>
  </div>
</Layout>

<style>
  h1 {
    margin: 2rem 0;
  }

  main {
    display: flex;
    flex-flow: nowrap;
  }

  .dz-main-container {
    flex-direction: column;
  }

  .dz-contact-form-wrapper {
    --padding: 5px;
    width: calc(100% - var(--padding) * 2);
    background: var(--color-sidebar);
    padding: var(--padding);
  }

  .dz-contact-form-wrapper label {
    font-size: var(--font-size-base);
  }

  .dz-field-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
  }

  .dz-field-wrapper--hpt {
    display: none;
  }

  .dz-field-wrapper input {
    max-height: 24px;
    margin-left: 5px;
    width: 100%;
  }

  textarea {
    width: calc(100% - 5px);
  }

  input[value="Mandar"],
  input[value="Send"] {
    display: flex;
    margin-left: auto;
  }

  img {
    width: 180px;
    height: 180px;
  }

  .text {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 14px 0;
  }

  .text:first-child {
    margin-top: 0;
  }

  .dz-image__caption {
    font-size: var(--font-size-base);
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-right: 1.2rem;
  }

  .dz-sidebar__h2 {
    display: none;
  }

  form input[value="Mandar"],
  form input[value="Send"] {
    font-size: var(--font-size-base);
  }

  @media screen and (min-width: 672px) {
    .dz-sidebar {
      width: 45%;
      margin: 1rem auto;
    }
  }

  @media screen and (max-width: 672px) {
    main {
      flex-flow: column nowrap;
    }

    .dz-row-wrapper {
      display: block;
    }

    .dz-row-wrapper img {
      margin: 0 0 0 8px;
    }

    .dz-sidebar {
      flex-direction: column;
      margin: 8px 16px 16px;
    }

    .text {
      width: 100%;
      margin: 8px 0;
    }

    .dz-sidebar__h2 {
      font-family: "georgia";
      color: var(--color-primary-red);
      font-size: var(--font-size-lg);
      line-height: 1;
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-top: 0;
    }

    form input {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 60px;
      font-size: var(--font-size-base);
      font-weight: 500;
    }
  }
</style>
