---
import Nav from '../components/Nav.astro';
import Title from '../components/Title.astro';
import Layout from '../layouts/Layout.astro';

let glob = []
let AboutContent

try {
	glob = await Astro.glob('./about.md');
} catch (err) {
	console.error('Unable to retrieve about.md:', err);
}

if (glob) {
	const aboutPage = glob[0]
	AboutContent = aboutPage?.Content
}
---

<Layout title="About Natan">
	<Nav />
	<Title title="About Natan"></Title>
	<main>
		<div class="dz-main-container">
			{AboutContent ?
			<AboutContent /> : '' }
		</div>
	</main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

	main {
		display: flex;
		flex-direction: row;
	}

	.dz-main-container {
		flex-flow: column;
	}

	.letter-a {
		display: flex;
		flex-direction: row;
	}

	.letter-a img {
		border: 1px solid var(--color-primary-red);
	}

	.letter-a p {
		margin: 0 0 0 10px;
		font-size: var(--font-size-base);
		text-align: left;
	}

	:global(.dz-main-container figure:first-child blockquote p) {
		margin-top: 0;
	}

	@media screen and (max-width: 672px) {
		main {
			flex-direction: column;
		}
	}
</style>